<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sale_bird">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Contact_us" />
        <activity android:name=".Order" />
        <activity android:name=".Address" />
        <activity android:name=".Speaker" />
        <activity android:name=".Fan" />
        <activity android:name=".Fridge" />
        <activity android:name=".Washing" />
        <activity android:name=".TV" />
        <activity android:name=".Rasna" />
        <activity android:name=".Cadbury" />
        <activity android:name=".Biscuit" />
        <activity android:name=".Butter" />
        <activity android:name=".Redmi" />
        <activity android:name=".samsung" />
        <activity android:name=".Realme" />
        <activity android:name=".oneplus" />
        <activity android:name=".Appliance" />
        <activity android:name=".Fresh" />
        <activity
            android:name=".phone"
            android:label="Phone"
            android:parentActivityName=".MainActivity">

            <!-- android:theme="@style/AppTheme.NoActionbar" -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sale_bird.MainActivity" />
        </activity>
        <activity
            android:name=".Navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Password" />
        <activity android:name=".Profile" />
        <activity android:name=".Network" />
        <activity android:name=".Registration" />
        <activity android:name=".login" />
        <activity android:name=".splashscreen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>